<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../static/CasaImages/favicon.ico">
    <style>
        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
        }
        .navbar-brand img {
            margin-left: 8px;
            position: relative;
            top: -1px;
        }
        .text {
            margin-top: 60px; /* Adjusted to ensure it's below the fixed navbar */
            padding: 20px;
        }
    </style>    
</head>
<body>
   
    <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
        <a href="{{ url_for('home') }}" class="navbar-brand">
            Tournament Time
            <img src="{{ url_for('static', filename='CasaImages/favicon.ico') }}" width="30" height="30" alt="Favicon">
        </a>
                
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown"> <!-- Dropdown for Tournaments -->
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownTournaments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tournaments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownTournaments">
                        <a class="dropdown-item" href="MensEuro2024.html">Men's Euro's 2024</a>
                        <a class="dropdown-item" href="WomensEuro2025.html">Women's Euro's 2025</a>
                        <a class="dropdown-item" href="MensWorldCup2026.html">Men's World Cup 2026</a>
                        <a class="dropdown-item" href="WomensWorldCup2027.html">Women's World Cup 2027</a>
                    </div>
                </li>
                <li class="nav-item dropdown"> <!-- Dropdown for Tournament Countdowns -->
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownCountdowns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tournament Countdowns
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCountdowns">
                        <a class="dropdown-item" href="TC1.html">Men's Euro's 2024</a>
                        <a class="dropdown-item" href="TC2.html">Women's Euro's 2025</a>
                        <a class="dropdown-item" href="TC3.html">Men's World Cup 2026</a>
                        <a class="dropdown-item" href="TC4.html">Women's World Cup 2027</a>
                    </div>
                </li>
                <li class="nav-item dropdown"> <!-- Dropdown for Tournament Stats -->
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownStats" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tournament Stats
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownStats">
                        <a class="dropdown-item" href="TS1.html">Men's Euro's 2024</a>
                        <a class="dropdown-item" href="TS2.html">Women's Euro's 2025</a>
                        <a class="dropdown-item" href="TS3.html">Men's World Cup 2026</a>
                        <a class="dropdown-item" href="TS4.html">Women's World Cup 2027</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
                {% if session %}
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <p class="text">
            Embarking on my journey into the realms of software development and AWS cloud computing has been both exhilarating and challenging. With a solid foundation in HTML and CSS, I am now delving deeper into JavaScript and exploring the dynamic capabilities of Bootstrap and React. My foray into Python and SQL has opened up new avenues for backend development, enhancing my understanding of data management and server-side scripting. Additionally, integrating Auth0 has provided me with essential knowledge in authentication and security, vital components for modern web applications. Each day brings new lessons and skills, and I am excited to see where this path will lead me.
        </p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>